@charset "UTF-8";
:root {
  --www: 20vw;
  font-size: 5vh;
  border: 0px;
  border-width: 0px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #22231d;
  border-width: 0px;
  width: 100vw;
}

img {
  background-color: rgba(255, 255, 255, 0);
}

#圖片背景 {
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 200vh;
  z-index: -2;
  opacity: 1;
}

#背景 {
  top: 0%;
  left: 0%;
  position: fixed;
  width: 100vw;
  height: 220vh;
  background-color: #2b3b27;
  z-index: -2;
}

#字 {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5vh;
  position: fixed;
}

#滾動監測器 {
  background-color: rgba(32, 50, 28, 0.7);
  width: 100vw;
  height: 48300px;
  position: absolute;
  left: 0;
  visibility: hidden;
}

#補足滾輪誤差用 {
  position: absolute;
  top: 48300px;
  background-color: #8dbd83;
  height: 48300px;
  width: 80vw;
}

.位 {
  background-color: rgba(255, 166, 0, 0);
  width: 50vw;
  height: 10vh;
  position: fixed;
  top: 0vh;
  left: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}

.本 {
  width: 50vw;
  height: 50vh;
  left: 25vw;
  -webkit-transition: opacity  ease-out 1s;
  transition: opacity  ease-out 1s;
  opacity: 0;
}

.嚴格定位 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.顯現 {
  opacity: 1 !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

#位子14 {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#位子13 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.波容器 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50vh;
  left: 50vw;
  height: 0.1vw;
  width: 0.1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.波紋 {
  background-color: rgba(0, 255, 251, 0.023);
  border: 5px;
  border-color: #fffde1;
  position: absolute;
  border-style: solid;
  -webkit-transform: scale(0%);
          transform: scale(0%);
  height: 100vw;
  width: 100vw;
  min-width: 80vh;
  min-height: 80vh;
  border-radius: 50%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-animation: 波 8s infinite cubic-bezier(0.38, -0.31, 0.15, 1);
          animation: 波 8s infinite cubic-bezier(0.38, -0.31, 0.15, 1);
}

#波紋2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes 波 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0%);
            transform: scale(0%);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(152, 177, 86, 0.061);
  }
  15% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    background-color: rgba(255, 238, 0, 0.023);
  }
}

@keyframes 波 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0%);
            transform: scale(0%);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(152, 177, 86, 0.061);
  }
  15% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    background-color: rgba(255, 238, 0, 0.023);
  }
}

#黑背景 {
  height: 1vw;
  width: 1vw;
  left: 50vw;
}

.內層滑輪 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity  ease-out 1s;
  transition: opacity  ease-out 1s;
  z-index: 0;
  top: 0%;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  opacity: 0;
}

#缽背景內 {
  -webkit-transition: opacity  ease-out 3s;
  transition: opacity  ease-out 3s;
}

.背景改色 {
  opacity: 1 !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.背景改色 div {
  opacity: 1;
}

#bo {
  -webkit-transition: -webkit-transform  ease-out 1s;
  transition: -webkit-transform  ease-out 1s;
  transition: transform  ease-out 1s;
  transition: transform  ease-out 1s, -webkit-transform  ease-out 1s;
}

.震動 {
  -webkit-animation: 缽震 0.05s 40 cubic-bezier(0.55, -0.01, 0.45, 1) both;
          animation: 缽震 0.05s 40 cubic-bezier(0.55, -0.01, 0.45, 1) both;
}

@-webkit-keyframes 缽震 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(0.1deg) scale(1.01);
            transform: rotate(0.1deg) scale(1.01);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes 缽震 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(0.1deg) scale(1.01);
            transform: rotate(0.1deg) scale(1.01);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

#t1 {
  position: fixed;
  width: 120vw;
  height: 90vh;
  left: -10vw;
  top: 5vh;
  z-index: -1;
}

.t2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.t3 {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  max-width: 1300px;
}

.滿版 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0vw;
  top: 0vh;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.相片容器 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.相片 {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.中層 {
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 80vh;
  min-width: 50vh;
}

#閃耀背景 {
  height: 1vw;
  width: 1vw;
  left: 50vw;
}

#l {
  opacity: 1;
  position: absolute;
  width: 160%;
  height: 250%;
  -o-object-fit: cover;
     object-fit: cover;
}

#閃耀背景內 {
  position: fixed;
}

.文字中層 {
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  min-width: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10vh;
}

.文字容器 {
  position: absolute;
}

#m, #up {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: 浮;
          animation-name: 浮;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes 浮 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes 浮 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

#up {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  position: absolute;
  bottom: 10vh;
  height: 100px;
  max-width: 20vh;
  min-height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

#滑動指示 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#m {
  position: absolute;
  bottom: 10vh;
  height: 100px;
  max-width: 10vh;
  min-height: 10vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.滿版靠右, .滿版靠左 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0vw;
  top: 0vh;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.滿版靠右 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.滿版靠左 {
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#往左, #往右 {
  height: 120%;
  min-height: 88vw;
  min-width: 200vh;
}

#用來讓手機版相片往左移 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  min-width: 70vh;
}

#全畫面 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
}

#陰霾 {
  height: 1vw;
  width: 1vw;
  left: 50vw;
}

#e1, #e3 {
  opacity: 1;
  position: absolute;
  width: 160%;
  height: 250%;
  -o-object-fit: cover;
     object-fit: cover;
}

#陰霾圖 {
  position: fixed;
}
/*# sourceMappingURL=style.css.map */