//* {
  //margin: 0;
  //padding: 0;
  //box-sizing: border-box;
  //font-family:"le jour", serif;
//}

:root {
  --www: 20vw;
  //text-align: center;
  font-size: 5vh;
  border: 0px;
  border-width: 0px;
  //object-fit: cover;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(34, 35, 29);
  border-width: 0px;
  width: 100vw;
}

img {

  background-color: rgba(255, 255, 255, 0);
  //max-width: 100%;
  //max-height: 100%;

  


}

#圖片背景{
  position: fixed;
  object-fit: cover;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 200vh;
  z-index: -1;
  opacity:1;
          //brightness(0.4);
          
}






#背景{
  top:0%;
  left: 0%;
  position:fixed;
  width: 100vw;
  height: 220vh;
  background-color: rgb(43, 59, 39);
  z-index: -2;
}

#字{
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  position:fixed;
  //z-index: 2;
}

#滾動監測器{
  background-color: rgba(32, 50, 28, 0.7);
  //width: 80vw;
  width: 100vw;
  //height: 1000vh;
  height: 50000px;
  position: absolute;
  //left: calc(var(--www) / 2);
  left: 0;
  //z-index: 1;
  visibility: hidden;
}

#補足滾輪誤差用{
position: absolute;
top: 50000px;
background-color: rgb(141, 189, 131);
height: 50000px;
width: 80vw;
}

.位{
  background-color: rgba(255, 166, 0, 0);
  width: 50vw;
  height: 10vh;
  position: fixed;
  top: 0vh;
  left: 45vw;
  display:flex;
  align-items:center;
  justify-content:center;
  
  //z-index: 1
  opacity:0;
}

.本{
  width: 50vw;
  height: 50vh;
  left: 25vw;
  transition: opacity  ease-out 1s;
  
  //filter: drop-shadow(-2mm 3mm 6mm rgba(255, 241, 172, 0.429)),
  // opacity(0%);
  opacity:0;
  
}

.嚴格定位{
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
}



//.陰影{
  //filter: drop-shadow(-2mm 3mm 6mm rgba(255, 241, 172, 0.429)) ;
  //width: 70%;

//}

.顯現{
  //background-color: rgb(0, 0, 0) !important;
  //background-color: rgba(255, 255, 255, 0) !important;
  opacity:1 !important;
  transition-delay: 0s !important;
  //opacity: 1 !important;
}


#位子14{
  transition-delay: 1s;
}

#位子13{
  transition-delay: 0.5s;
}







.波容器{
  //background-color: aqua;
  position: fixed;
  display: flex;
  top: 50vh;
  left: 50vw;
  height: 0.1vw;
  width: 0.1vw;
  align-items:center;
  justify-content:center;
  
}


.波紋{
  background-color: rgba(0, 255, 251, 0.023);
  border: 5px;
  border-color: rgb(255, 253, 225);
  position: absolute;
  border-style:solid;
  transform: scale(0%) ;
  height: 100vw;
  width: 100vw;
  min-width: 80vh;
  min-height: 80vh;
  border-radius: 50%;
  filter: blur(50px);
  animation: 波 8s infinite cubic-bezier(.38,-0.31,.15,1);

}

#波紋2{
  animation-delay: 1.5s;
}

@keyframes 波{
  0%{
    opacity: 0;
    transform: scale(0%) ;
    filter: blur(50px);
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(152, 177, 86, 0.061);
   
 
}
15%{
  opacity: 1;
}


100%{
  transform: scale(100%);
  opacity: 0;
  filter: blur(10px);
  background-color: rgba(255, 238, 0, 0.023);
}

}



#黑背景{
  height: 1vw;
  width: 1vw;
  left: 50vw;
  
  //transition-delay: 0.5s !important;

}

.內層滑輪{
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  transition: opacity  ease-out 1s;
  z-index: 0;
  top:0%;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  opacity: 0;
}

#缽背景內{
  transition: opacity  ease-out 3s;
}


.背景改色{
  opacity:1 !important;
  transition-delay: 0s !important;

  div{
    opacity: 1;
  }
}


#bo{
  transition: transform  ease-out 1s;
}

.震動{
  animation: 缽震 0.05s 40 cubic-bezier(.55,-0.01,.45,1) both;
}

@keyframes 缽震{
  0%{

  transform: rotate(0deg) scale(1);

}

50%{
  transform: rotate(0.1deg) scale(1.01);
}



100%{
  transform: rotate(0deg) scale(1);
}

}


#t1{
  position: fixed;
  width: 120vw;
  height: 90vh;
  left: -10vw;
  top: 5vh;
  //background-color: aqua;
  //transform: rotate(30deg);
  z-index: -1;

}

.t2{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  display: flex;
  align-items:center;
  justify-content:center;
 // background-color: rgb(226, 210, 70);

}


.t3{
  //position: absolute;
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  
}

.滿版{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0vw;
  top: 0vh;
  //background-color: aqua;
  //transform: rotate(30deg);
  z-index: -1;
  display: flex;
  align-items:center;
  justify-content:center;
}

.相片容器{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  display: flex;
  align-items:center;
  justify-content:center;
}

.相片{
 
   object-fit: contain;
   height: 100%;
   width: 100%;
   
}

.中層{
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 80vh;
  min-width: 50vh;
}

#閃耀背景{
  height: 1vw;
  width: 1vw;
  left: 50vw;
}

#l{
  opacity: 1;
  position: absolute;
  width: 160%;
  height: 250%;
  object-fit: cover;
}

#閃耀背景內{
  position: fixed;
}


.文字中層{
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  min-width: 80vh;
  display: flex;
  align-items:center;
  justify-content:center;
  top:10vh;
}

.文字容器{
  position: absolute;
}

#m,#up{
  transform:translateY(-0px);
  animation-duration: 5s;
  animation-name: 浮;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes 浮{

  0%{
    transform:translateY(-0px);

  }

  100%{
    transform:translateY(-30px);
  }
}

#up{
  animation-duration: 2s;
  position: absolute; bottom: 10vh;  height: 100px; max-width: 20vh; min-height: 10vh; object-fit: contain;
}

#滑動指示{
  position:fixed;
  display:flex;
  height: 100vh;
  width: 100vw;
  left:0px;
  top:0px;
  align-items:center;
  justify-content:center;
}

#m{
  position: absolute; bottom: 10vh;  height: 100px; max-width: 10vh; min-height: 10vh; object-fit: contain;
}
